%h1 Login

= form_tag login_path do

  = label :session, :username, 'Username'
  = text_field :session, 'username'

  = label :session, :password, 'Password'
  = password_field :session, 'password'
  
  = submit_tag 'Login'
  = link_to 'Sign Up', new_user_path