#ind_result
  %h2 Donors 
  %table#table_ind.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Action
        - @donors[:ind_attr].each do |attr|
          - if @ind_attr_show.include? attr
            %th #{attr}
    %tfoot
      %tr
        %th Action
        - @donors[:ind_attr].each do |attr|
          - if @ind_attr_show.include? attr
            %th #{attr}
    %tbody
      - @donors[:inds].each do |ind|
        %tr
          %td
            = link_to "View", donor_path(ind), class: 'btn btn-success btn-xs'
          - ind.attributes.each do |attr, val|
            - if @ind_attr_show.include? attr
              %td #{val} 
             
            
#org_result
  %h2 Orgnizations
  %table#table_org.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Action
        - @donors[:org_attr].each do |attr|
          - if @org_attr_show.include? attr
            %th
              #{attr}
    %tfoot
      %tr
        %th Action
        - @donors[:org_attr].each do |attr|
          - if @org_attr_show.include? attr
            %th
              #{attr}
    %tbody
      - @donors[:orgs].each do |org|
        %tr          
          %td
          - org.attributes.each do |attr, val|
            - if @org_attr_show.include? attr
              %td #{val} 