#search-box.container-fluid
  %table#table_donor.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th action
        - @donor_attr_show.each do |attr|
          %th #{attr}
    %tfoot
      %tr
        %th
        - @donor_attr_show.each do |attr|
          %th.filter #{attr}
    %tbody
      - @donors.each do |donor|
        %tr
          %td{:style => 'width:15%'}
            = link_to "View", donorSummary_path(donor.id), id: 'view', remote: true, class: 'btn btn-success btn-xs'
            = link_to "Edit", donor_path(donor.id), class: 'btn btn-success btn-xs'
            = link_to "Delete", donor_path(donor.id), method: 'delete', class: 'btn btn-danger btn-xs'
          - attrs = donor.attributes
          - @donor_attr_show.each do |attr|
            - if attrs.include? attr
              %td=donor[attr].capitalize if donor[attr] 
  .button-line.right{:style => "padding:10"}
    =link_to "Add New", new_donor_path, class: 'btn btn-success', id: "add"
    =link_to "Back", homepage_path, class: 'btn btn-primary'
