#search-box.container-fluid
  %table#table_donor.table.display{:cellspacing => "0", :width => "100%"}
    %thead{:data => {:attrname => @donor_attr_show}}
      %tr
<<<<<<< HEAD
        %th Action
        %th Type
        - @donor_attr.each do |attr|
          - if @donor_attr_show.include? attr
            %th #{attr.humanize}
    %tfoot
      %tr
        %th Action
        %th Type
        - @donor_attr.each do |attr|
          - if @donor_attr_show.include? attr
            %th #{attr.humanize}
    %tbody
      - @donors.each do |donor|
        %tr{:data => {:id => donor.id}}
          %td
            = link_to "View", donor_path(donor), class: 'btn btn-success btn-xs'
          %td #{donor.type}
          - donor.attributes.each do |attr, val|
            - if @donor_attr_show.include? attr
              %td #{val} 
  .button-line.right{:style => "padding:10"}
    =link_to "Add", "#table_donor", class: 'btn btn-success', id: "add_row"
    =link_to "Edit", "#table_donor", class: 'btn btn-info', id: "edit_row", :remote => true
    %button.btn.btn-danger#delete{type:'button'} Delete
=======
        %th action
        - @donor_attr_show.each do |attr|
          %th #{attr}
    %tfoot
      %tr
        %th
        - @donor_attr_show.each do |attr|
          %th.filter #{attr}
    %tbody
      - @donors.each do |donor|
        %tr
          %td{:style => 'width:15%'}
            = link_to "View", donorSummary_path(donor.id), id: 'view', remote: true, class: 'btn btn-success btn-xs'
            = link_to "Edit", donor_path(donor.id), class: 'btn btn-success btn-xs'
            = link_to "Delete", donor_path(donor.id), method: 'delete', class: 'btn btn-danger btn-xs'
          - attrs = donor.attributes
          - @donor_attr_show.each do |attr|
            - if attrs.include? attr
              %td=donor[attr].capitalize if donor[attr] 
  .button-line.right{:style => "padding:10"}
    =link_to "Add New", new_donor_path, class: 'btn btn-success', id: "add"
    =link_to "Back", homepage_path, class: 'btn btn-primary'
>>>>>>> master
