%h1 Donor Management
%h2 Donor Search

= form_tag donors_path, :method => :get do

  = label :donor, :first_name, 'First Name'
  = text_field :donor, 'first_name'

  = label :donor, :last_name, 'Last Name'
  = text_field :donor, 'last_name'

  = label :donor, :company, 'Company'
  = text_field :donor, 'company'
  
  = label :donor, :organization, 'Organiztion'
  = text_field :donor, 'organization'
  
  = submit_tag 'Search'

= link_to 'Add A New Donor', new_donor_path

%h2 Search result
%table
  %thead
    %tr
      %th First Name 
      %th Last Name
      %th Organiztion
      %th Company
      %th More Info
  %tbody
    - @donors.each do |donor|
      %tr
        %td= donor.first_name 
        %td= donor.last_name
        %td= donor.organization 
        %td= donor.company 
        %td= link_to "More about #{donor.first_name}", donor_path(donor)

