=render :partial=>'layouts/banner'
=javascript_include_tag 'donors.js'
=javascript_include_tag 'contacts.js' 
#page-title.container.titleLine
  %h2 Donor Information
%ul#tabs.nav.nav-tabs.nav-justified.bold{:role=>'tablist'}
  %li.active 
    %a{:id=>'summary-tab',:href=>'#summary', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'summary'}} Summary
  %li 
    %a{:id=>'basic-tab',:href=>'#basic', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'basic'}} Basic
  %li
    %a{:id=>'contact-tab',:href=>'#contact', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'contact'}} Contact
  %li 
    %a{:id=>'finance-tab',:href=>'#finance', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'finance'}} Finance
    
.tab-content
  #summary.tab-pane.active{:role=>'tabpanel'}
    .container{:style=>'padding-top: 50px'}
      .row.col-sm-offset-3.col-sm-6
        %table#summary-table.table.donor-form
          %tbody
            - @donor_basic.each_pair do |key, val|
              - if val
                %tr
                  %td.bold= key
                  %td= val
        .pull-right  
          =link_to "Back", donors_path, class: 'btn btn-primary'
  #basic.tab-pane{:role=>'tabpanel'}
    %label#donorId{:style=>'display:none'}=@donor.id
    =form_for @donor, :remote=>true, :method=>'put', :html=>{:class=>'form donor-form col-sm-offset-1'} do |f|
      .form-group
        .form-group
          .row
            .col-sm-3
              =f.label :title
              =f.text_field :title, class:'form-control', id:'title'
            .col-sm-3
              =f.label :salution
              =f.text_field :salution, class:'form-control', id:'salution'
        .form-group
          .row
            .col-sm-3
              =f.label :first_name
              =f.text_field :first_name, class:'form-control', id:'first_name'
            .col-sm-3
              =f.label :last_name
              =f.text_field :last_name, class:'form-control', id:'last_name'
            .col-sm-3
              =f.label :middle_name
              =f.text_field :middle_name, class:'form-control', id:'middle_name'
        .form-group
          .row
            .col-sm-3  
              =f.label :email
              =f.text_field :email, class:'form-control', id:'email'
            .col-sm-3  
              =f.label :home_phone
              =f.text_field :home_phone, class:'form-control', id:'home_phone'
            .col-sm-3  
              =f.label :business_phone
              =f.text_field :business_phone, class:'form-control', id:'business_phone'
        .form-group
          .row
            .col-sm-3  
              =f.label :company
              =f.text_field :company, class:'form-control', id:'company'
            .col-sm-3  
              =f.label :organization
              =f.text_field :organization, class:'form-control', id:'organization'
        .form-group
          .row  
            .col-sm-3  
              =f.label :street_address
              =f.text_field :street_address, class:'form-control', id:'street_address'
            .col-sm-3
              =f.label :city
              =f.text_field :city, class:'form-control', id:'city'
            .col-sm-3  
              =f.label :state
              =f.text_field :state, class:'form-control', id:'state'
            .col-sm-3  
              =f.label :country
              =f.text_field :country, class:'form-control', id:'country'
            .col-sm-3  
              =f.label :zipcode
              =f.text_field :zipcode, class:'form-control', id:'zipcode'
      .button-line.pull-right
        =f.submit id:'basic-submit', class:'btn btn-default'
        =link_to "Back", donors_path, class: 'btn btn-primary'
  #contact.tab-pane{:role=>'tabpanel'}
    %table#contact_tab.table.clickable-row{:data => {:id => @donor.id}}
      %thead
        %tr
          - @donor_contact.each do |val|
            %th
              = val
      %tbody
        - @contacts.each do |contact|
          %tr{:data => {:id => contact.id}}
            %td{:width => "15%"}
              = contact.contact_date
            %td{:width => "15%"}
              = contact.followup_date
            %td{:width => "40%"}
              = contact.narrative
            %td{:width => "15%"}
              = contact.created_by
            %td{:width => "15%"}
              = contact.last_modified_by
    .button-line.pull-right
      %button.btn.btn-success#add{type:'button'} Add
      %button.btn.btn-info#edit{type:'button'} Edit
      %button.btn.btn-danger#delete{type:'button'} Delete
      =link_to "Back", donors_path, class: 'btn btn-primary'
  #finance.tab-pane{:role=>'tabpanel'}
