=render :partial=>'layouts/banner'
=javascript_include_tag 'donors.js'
#page-title.container-fluid.titleLine
  %h2 Donor Information
%ul#tabs.nav.nav-tabs.nav-justified.bold{:role=>'tablist'}
  %li.active 
    %a{:id=>'summary-tab',:href=>'#summary', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'summary'}} Summary
  %li 
    %a{:id=>'basic-tab',:href=>'#basic', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'basic'}} Basic
  %li
    %a{:id=>'contact-tab',:href=>'#contact', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'contact'}} Contact
  %li 
    %a{:id=>'finance-tab',:href=>'#finance', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'finance'}} Finance
    
.tab-content.container-fluid
  #summary.tab-pane.active{:role=>'tabpanel'}
    .container{:style=>'padding-top: 50px'}
      .row.col-sm-offset-3.col-sm-6
        %table#summary-table.table.donor-form
          %tbody
            - @donor_basic.each_pair do |key, val|
              - if val
                %tr
                  %td.bold= key
                  %td= val
        .pull-right  
          =link_to "Back", donors_path, class: 'btn btn-primary'
          =link_to "Delete", donor_path(@donor.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger'
  #basic.tab-pane{:role=>'tabpanel'}
    %label#donorId{:style=>'display:none'}=@donor.id
    =form_for @donor, :remote=>true, :method=>'put', :html=>{:id=>'donorInfo', :class=>'form donor-form col-sm-offset-3'} do |f|
      .form-group
        .form-group
          .row
            .col-sm-3
              =f.label :title
              =f.text_field :title, class:'form-control', id:'title'
            .col-sm-3
              =f.label :salution
              =f.text_field :salution, class:'form-control', id:'salution'
        .form-group
          .row
            .col-sm-3
              =f.label :first_name
              =f.text_field :first_name, class:'form-control', id:'first_name'
            .col-sm-3
              =f.label :last_name
              =f.text_field :last_name, class:'form-control', id:'last_name'
            .col-sm-3
              =f.label :middle_name
              =f.text_field :middle_name, class:'form-control', id:'middle_name'
        .form-group
          .row
            .col-sm-3  
              =f.label :email
              =f.text_field :email, class:'form-control', id:'email'
            .col-sm-3  
              =f.label :home_phone
              =f.text_field :home_phone, class:'form-control', id:'home_phone'
            .col-sm-3  
              =f.label :business_phone
              =f.text_field :business_phone, class:'form-control', id:'business_phone'
            .col-sm-3  
              =f.label :zipcode
              =f.text_field :zipcode, class:'form-control', id:'zipcode'
        .form-group
          .row
            .col-sm-3  
              =f.label :company
              =f.text_field :company, class:'form-control', id:'company'
            .col-sm-3  
              =f.label :organization
              =f.text_field :organization, class:'form-control', id:'organization'
        .form-group
          .row  
            .col-sm-3  
              =f.label :street_address
              =f.text_field :street_address, class:'form-control', id:'street_address'
            .col-sm-3
              =f.label :city
              =f.text_field :city, class:'form-control', id:'city'
            .col-sm-3  
              =f.label :state
              =f.text_field :state, class:'form-control', id:'state'
            .col-sm-3  
              =f.label :country
              =f.text_field :country, class:'form-control', id:'country'
        .button-line.pull-right    
          =f.submit id:'basic-submit', class:'btn btn-default'
          =link_to "Back", donors_path, class: 'btn btn-primary'
  #contact.tab-pane{:role=>'tabpanel'}
    #contact-panel.panel.panel-default{:style => "margin-bottom:50px;margin-top:10px;"}
      %table#contact_tab.table.table-hover.clickable-row{:style => "width:100%;margin:0;", :data => {:id => @donor.id}}
        %thead
          %tr
            - @donor_contact.each_pair do |key, val|
              %th{:width => val}
                = key
        %tbody
          - @contacts.each do |contact|
            %tr{:data => {:id => contact.id}}
              %td{:width => "15%"}
                = contact.contact_date
              %td{:width => "15%"}
                = contact.followup_date
              %td{:width => "40%"} 
                = contact.narrative
              %td{:width => "15%"}
                = contact.created_by
              %td{:width => "15%"}
                = contact.last_modified_by
    .button-line.bottom-right-info-bar{:style => "padding:0"}
      =link_to "Add", "#contact_tab", class: 'btn btn-success', id: "add"
      =link_to "Edit", "#contact_tab", class: 'btn btn-info', id: "edit"
      %button.btn.btn-danger#delete{type:'button'} Delete
      =link_to "Back", donors_path, class: 'btn btn-primary'
    =javascript_include_tag "contacts.js" 
  #finance.tab-pane{:role=>'tabpanel'}
