-# in app/views/donors/summary.html.haml

%h2 Summary about #{@donor.first_name}

%table#donor_summary
  %thead
    %tr
      %th{:class => @summary_tab}= 'Summary' ,:id => 'title_header'
      %th{:class => @basic_tab}= link_to 'Basic', basic_path(@donor), :id => 'basic_tab'
      %th{:class => @contact_tab}= link_to 'Contact', contact_path(@donor), :id => 'contact_tab'
      %th{:class => @finance_tab}= link_to 'Finance', finance_path(@donor), :id => 'finance_tab'
      
%ul#summary
    %li
      Title
      = @donor.title
    %li
      Name
      = @donor.first_name + ' ' + @donor.middle_name + ' ' donor.last_name
    %li
      Salution
      = @donor.salution
    %li
      Email
      = @donor.email
    %li
      Organization
      = @donor.organization
    %li
      Company
      = @donor.company
    %li
      Address
      = @donor.street_address
      = @donor.city + ', ' + @donor.state 
      = @donor.zipcode
      = @donor.country
    %li
      Home Phone
      = @donor.home_phone
    %li
      Business Phone
      = @donor.business_phone
    %li
      Created By
      = @donor.created_by
    %li
      Created at
      = @donor.created_at.strftime("%B %d, %Y")
    %li
      Last Modified by
      = @donor.last_modified_by
    %li
      Last Modified at
      = @donor.last_modified_at.strftime("%B %d, %Y")
      
%td= link_to "Back", donor_index
