#page-title.container-fluid.center.titleLine
  %h1 Sign Up

- unless @new_user.errors.empty?
  #warning
    Errors prevented new user from being created:
    %ul
      - @new_user.errors.full_messages.each do |error|
        %li= error

#mainbody.container-fluid
  = form_tag users_path, :method => 'post', :class => 'form left' do
    .form-group
      .row
        .col-sm-2.col-sm-offset-4    
          = label :user, :username, 'Username'
          = text_field :user, 'username', :value => @new_user.username, :required => true
        .col-sm-2
          = label :user, :email, 'Email'
          = text_field :user, 'email', :value => @new_user.email, :required => true
    .form-group
      .row
        .col-sm-2.col-sm-offset-4    
          = label :user, :first_name, 'First Name'
          = text_field :user, 'first_name', :value => @new_user.first_name, :required => true
        .col-sm-2
          = label :user, :last_name, 'Last Name'
          = text_field :user, 'last_name', :value => @new_user.last_name, :required => true
    .form-group
      .row
        .col-sm-2.col-sm-offset-4    
          = label :user, :password, 'Password'
          = password_field :user, 'password', :required => true
        .col-sm-2
          = label :user, :password_confirmation, 'Confirm Password'
          = password_field :user, 'password_confirmation', :required => true
    #button-line.row.center
      .col-sm-2.col-sm-offset-4    
        = submit_tag 'Create', :class => 'btn btn-primary'
      .col-sm-2
        = link_to 'Back', root_path, :class => 'btn btn-default'