#mainbody.container-fluid
  .row
    .col-sm-12
      %h4 Report Template
      #report-panel.panel.panel-default
        %table#report-table.table
          %thead
            %tr
              %th= sortable "title"
              %th= sortalbe "description"
              %th= sortable "last_modified_by", "Last Modified By"
              %th= sortable "last_modified_at", "Last Modified Date"
              %th= sortable "created_at", "Create Date"
              %th{:colspan => 2} Action
          %tbody
          -if @report_records
            -@report_records.each do |report_record|
              %tr
                %td=report_record.title
                %td=report_record.description
                %td=report_record.last_modified_by
                %td=report_record.last_modified_at
                %td=report_record.created_at
                %td=link_to "Edit", edit_report_path(report_record), class: 'btn btn-success btn-xs'
                %td=link_to "Delete", report_path(report_record.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger btn-xs'

    
    =link_to 'Add New Template', new_report_path, {:class => 'btn btn-default pull-right'} 
= js_will_paginate @report_records